<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#" onclick="uniq()">Enviar para uma pessoa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" onclick="multi()">Enviar para mais de uma pessoa</a>
      </li>
  </div>