<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand my-auto" href="#">
      <img src="/img/logo.png" alt="" width="60" height="60" class="d-inline-block mx-2">
      G3 Assessoria Imobiliária
    </a>

</nav>