        <div id="alert" style="visibility: hidden;" class="alert alert-success position-absolute bottom-0 end-0">
            Mensagem enviada com sucesso
        </div>
        <header>
            <h1 class="my-4 text-center" >Iniciar conversa pelo Whatsapp</h1>
        </header>
            <div id='form' class="card-header mb-3">
                    <form id="form-multi">
                        <div class="row">
                            <div class="col">
                                <label for="nome" class="mb-2">Seu nome:</label><br>
                                <input type="text" required id="nome2" class="form-control"><br>
                            </div>
                        </div>
                        <label for="mensagem" class="mb-2">Mensagem:</label><br>
                        <input type="text" required id="mensagem2" class="form-control"><br>
                         <label for="departamento" class="mb-2">Departamento:</label><br>
                        <div class="row d-flex justify-content-evenly my-3">
                                <div class="col">
                                    <input type="radio" id="suporte2" name="departamento" value="Suporte" class="form-check-input mx-2">
                                    <label for="suporte" class="me-3">Suporte</label>
                                </div>
                                <div class="col">
                                    <input type="radio" id="condominios2" name="departamento" value="Condomínios" class="form-check-input mx-2" >
                                    <label for="condominios" class="me-3">Condomínios</label>
                                </div>
                                <div class="col">
                                    <input type="radio" id="locacoes2" name="departamento" value="Locações" class="form-check-input mx-2">
                                    <label for="locacoes">Locações</label>
                                </div><br><br>
                        </div>
                        <div class="container row">
                                <div class="col" id="col">
                                    <label for="cliente" class="mb-2">Cliente:</label><br>
                                </div>
                                <div class="col" id='col0'>
                                    <label for="whatsapp" class="mb-2">Whatsapp:</label>
                                </div>
                        </div>
                        <div id="add" class="container" name='add'> 
                            <div id="row" class="row">
                                <div class="col" id="col">
                                    <input type="text" required id="client" name='nome' class="form-control"><br>
                                </div>
                                <div class="col" id='col0'>
                                    <input type="number" required size="14" id="0" name="whatsapp" class="form-control" style="display: inline-block">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <button type="button" value="Enviar" class="btn btn-outline-dark mb-4 mx-1" onclick="add()">Adicionar</button>
                                <button type="button" value="Enviar" class="btn btn-outline-dark mb-4 mx-1" onclick="removeElement()">Remover</button>
                            </div>
                        </div>
                        <div class="col"><button type="submit" value="Enviar" style="display: block" class="btn btn-dark mx-auto mb-4 my-2">Enviar mensagens</button></div>
    
                    </form>
                </div>